manifest {
  name = 'twhalley93/bvd'
  author = 'Thomas Whalley'
  homePage = 'https://github.com/nf-core/roary'
  description = "Pipeline for the discovery of bacterial vaccine targets using Nextflow"
  mainScript = 'pipeline.nf'
  nextflowVersion = '19.01'
  version = '1.0dev'
}

//global parameters
params {
//default parameters
fasta_folder = "Wales"
fasta = false
fasta_extension = "fasta"
kingdom = "Virus"
email = false
help = false
outdir = './results'
multiqc_config = "$baseDir/conf/multiqc_config.yaml"
name = false
kraken_db = "/scratch/c.c1656075/pangenome_vaccine/data/minikraken2_v2_8GB_201904_UPDATE/"
}

profiles{
    slurm {
        process {
        executor = "slurm"
        queue = "compute"
        memory = "8GB"
        cpus = 1
        time = "1h"
        queue = "htc"

        withLabel:multithreaded{
            cpus = 40
            memory = "72GB"
            queue = "compute"
        }
    }

    executor {
    queueSize = 20
}
    }
    
    standard {
        process.executor = 'local'
    }
    
    singularity {
        singularity.enabled = true
    }
}

