params{
//default parameters that are inputs to the pipeline
input = "input/*.fasta"
kingdom = "Bacterial"
help = false
outdir = "results"
multiqc_config = "$baseDir/conf/multiqc_config.yaml"
kraken_db = "/home/tom/RECIPIENT/kraken_db" //todo deal with the fact it needs to be full path
pangenome = "panaroo"}

profiles{
    slurm {
        process {
        executor = "slurm"
        queue = "compute"
        memory = "8GB"
        cpus = 1
        time = "1h"
        queue = "htc"

        withLabel:multithreaded{
            cpus = 40
            memory = "72GB"
            queue = "compute"
        }
    }

    executor {
        queueSize = 20
        }
    }
    
    standard {
        process {
            cpus = 1

        withLabel:multithreaded{
            cpus = 8
        }
        }
    }
    
    singularity {
        singularity.enabled = true
    }
}
